.top-bar-image {

  background-image: url('../images/web.jpg');
  background-position: center bottom;
  -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
}

.text-center {
  text-shadow: 3px 3px 2px black;
}

.lead {
  font-size: 1rem;
    font-weight: 200;
}

section {
  padding: 50px 0px;
}

ul {
    list-style-type: square;
}
b {
    font-weight: bold;
}

.h1, h1 {
    font-size: 3rem;
}
